<!--  app/views/exchange_rates/index.html.erb -->

<div id="side-menu">
  <div>
    <%= link_to "My Profile", edit_user_registration_path, :class => :links %><br />
  </div>
  <div>
    <%= link_to "Summary", summaries_path, :class => :links %><br />
  </div>
  <div>
    <%= link_to "Accounts Detail", accounts_path, :class => :links %><br />
  </div>
  <div>
    <%= link_to "Exchange Rates", exchange_rates_path, :class => :links %><br />
  </div>
  <div>
    <%= link_to "Statistics", statistics_path, :class => :links %>
  </div>
  <br />
  <br />
  <div>
    <%= link_to "Log out", destroy_user_session_path, method: :delete, :class => :links %>
  </div>
</div>

<div class="accounts">
  <div class="page-name">
    <h1>Exchange Rates</h1>
  </div>

  <br/>

  <!-- Displaying 5 default real-time currency rates -->
  <!-- Default 'Money' gem's subunit is in cents, so 100 == 1 and 1000 == 10 -->
  <table class="table-layout">
    <thead>
      <tr>
        <th>Currency</th>
        <th>Default USD($) Value</th>
        <th>Converted Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Euro (EUR)</td>
        <td><%= 10.to_money.format %></td>
        <% euro = Money.new((@rates['EUR']*1000),'EUR').format %>
        <td><%= euro %></td>
      </tr>
      <tr>
        <td>Great Britain Pound (GBP)</td>
        <td><%= 10.to_money.format %></td>
        <% britishPound = Money.new((@rates['GBP'] * 1000),'GBP').format %>
        <td><%= britishPound %></td>
      </tr>
      <tr>
        <td>Korean Won (KRW)</td>
        <td><%= 1.to_money.format %></td>
        <% koreanWON = Money.new((@rates['KRW']),'KRW').format %>
        <td><%= koreanWON %></td>
      </tr>
      <tr>
        <td>Japan Yen (JPY)</td>
        <td><%= 1.to_money.format %></td>
        <% japaneseYen = Money.new((@rates['JPY']),'JPY').format %>
        <td><%= japaneseYen %></td>
      </tr>
      <tr>
        <td>Chinese Yuan (CNY)</td>
        <td><%= 1.to_money.format %></td>
        <% chineseYuan = Money.new((@rates['CNY'] * 100),'CNY').format %>
        <td><%= chineseYuan %></td>
      </tr>
    </tbody>
  </table>
  <% time = Time.now %>
  <p id="updated-at">Updated at: <%= time.to_formatted_s(:db) %></p>
  <br/>

  <!--The default value is USD. Users can convert the amount they wish to convert
      to the currency they wish to convert-->
  <table class="table-layout">
    <thead>
      <tr>
        <th id="convertTitle">More currencies</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
        <td id="amountInput">USD ($) <input type="text" id="amount" placeholder="ex) 100.00"></td>
        <td>
            <select id="to">
              <% @currencies.each do |currency| %>
                <option><%= currency %></option>
              <% end %>
            </select>
            <button id="convertBtn", onclick="converted()">Convert</button>
        </td>
        <td id="convertedAmount"><span style="font-size: 14px">"Click Convert"</span></td>
    </tbody>
  </table>
  <p id="updated-at">Updated at: <%= time.to_formatted_s(:db) %></p>

  <br/>
  <!-- Convert balance of accounts into selected currency,
       then display them in each row of a table -->
  <table class="table-layout">
    <thead>
      <tr>
        <th>Bank</th>
        <th>Currenct Balance</th>
        <th>Currency</th>
        <th>Converted</th>
      </tr>
    </thead>
    <tbody>
      <% @accounts.each do |account| %>
        <% if account.user == current_user %>
          <tr id="account-currency-info">
            <td><%= account.name %></td>
            <td>$<span class="balances"><%= account.balance.to_money %></span></td>

            <td>
              <select class="currencies">
                <% @currencies.each do |currency| %>
                  <option><%= currency %></option>
                <% end %>
              </select> 
            </td>

            <td class="convertedBalance"><span style="font-size: 14px">"Click Convert"</span></td>
          </tr>
        <% end %><!-- if account.user == current_user -->
      <% end %><!-- @accounts.each do |account| -->
      <tr>
        <td colspan="4"><button onclick="convert()", id="convert">Convert</button></td>
      </tr>
    </tbody>
  </table>
  <p id="updated-at">Updated at: <%= time.to_formatted_s(:db) %></p>
</div>
