<div id="side-menu">
  <%= link_to "My Profile", edit_user_registration_path, :class => :links %><br />
  <%= link_to "Summary", summaries_path, :class => :links %><br />
  <%= link_to "Accounts Detail", accounts_path, :class => :links %><br />
  <%= link_to "Exchange Rates", exchange_rates_path, :class => :links %><br />
  <%= link_to "Statistics", statistics_path, :class => :links %>
  <br />
  <br />
  <%= link_to "Log out", destroy_user_session_path, method: :delete, :class => :links %>
</div>


<div class="accounts">
  <h1>Exchange Rates</h1>

  <br/>

  <!-- Displaying 5 default real-time currency rates -->
  <!-- Default 'Money' gem's subunit is in cents, so 100 == 1 and 1000 == 10 -->
  <table>
    <thead>
      <tr>
        <th>Currency</th>
        <th>Default USD($) Value</th>
        <th>Converted Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Euro (EUR)</td>
        <td>$10</td>
        <% euro = Money.new((@rates['EUR']*1000),'EUR').format %>
        <td><%= euro %></td>
      </tr>
      <tr>
        <td>Great Britain Pound (GBP)</td>
        <td>$10</td>
        <% britishPound = Money.new((@rates['GBP'] * 1000),'GBP').format %>
        <td><%= britishPound %></td>
      </tr>
      <tr>
        <td>Korean WON (KRW)</td>
        <td>$1</td>
        <% koreanWon = Money.new((@rates['KRW']),'KRW').format %>
        <td><%= koreanWon %></td>
      </tr>
      <tr>
        <td>Japan Yes (JPY)</td>
        <td>$1</td>
        <% japaneseYen = Money.new((@rates['JPY']),'JPY').format %>
        <td><%= japaneseYen %></td>
      </tr>
    </tbody>
  </table>

  <br/>
  <br/>

  <!-- Convert balance of accounts into selected currency,
       then display them in each row of a table -->
  <table>
    <thead>
      <tr>
        <th>Bank</th>
        <th>Currenct Balance</th>
        <th>Currency</th>
        <th>Converted</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @accounts.each do |account| %>
        <% if account.user == current_user %>
          <tr id="account-currency-info">
            <td><%= account.name %></td>
            <td id="balances"><%= account.balance.to_money%></td>

            <td>
              <form>
                <select id="currencies">
                  <% @currencies.each do |currency| %>
                    <option><%= currency %></option>
                  <% end %>
                </select> 
              </form>
            </td>

            <td id="convertedBalance"></td>
            <td><button onclick="convert()">Convert</button></td>
          </tr>
        <% end %><!-- if aacount.user == current_user -->
      <% end %><!-- @accounts.each do |account| -->
    </tbody>
  </table>
</div>
