<div id="side-menu">
  <%= link_to "My Profile", edit_user_registration_path, :class => :links %><br />
  <%= link_to "Summary", summaries_path, :class => :links %><br />
  <%= link_to "Accounts Detail", accounts_path, :class => :links %><br />
  <%= link_to "Exchange Rates", exchange_rates_path, :class => :links %><br />
  <%= link_to "Statistics", statistics_path, :class => :links %>
  <br />
  <br />
  <%= link_to "Log out", destroy_user_session_path, method: :delete, :class => :links %>
</div>

<div class="accounts">
  <h1>Statistics</h1>

  <br/>

  <div id="linechart_for_monthly_spending" style="width: 95%; height: 400px;"></div>
  <br/>
  <div id="piechart_for_spending_types" style="width: 500px; height: 250px;"></div>
  <br/>
</div>
