<!--app/view/statistics/index.html.erb-->

<div id="side-menu">
  <div>
    <%= link_to "My Profile", edit_user_registration_path, :class => :links %><br />
  </div>
  <div>
    <%= link_to "Summary", summaries_path, :class => :links %><br />
  </div>
  <div>
    <%= link_to "Accounts Detail", accounts_path, :class => :links %><br />
  </div>
  <div>
    <%= link_to "Exchange Rates", exchange_rates_path, :class => :links %><br />
  </div>
  <div>
    <%= link_to "Statistics", statistics_path, :class => :links %>
  </div>
  <br />
  <br />
  <div>
    <%= link_to "Log out", destroy_user_session_path, method: :delete, :class => :links %>
  </div>
</div>

<div class="accounts">
  <div class="page-name">
    <h1>Statistics</h1>
  </div>

  <br/>

  <div>
    <h3 id="monthly-sum">Monthly Sum</h3>
    <%= line_chart @mTotals.each { |mtotal| { data: mtotal[0][1] } }, width: "98%", height: "400px",
        library: {backgroundColor: "#f2efed"}, xtitle: "Month", ytitle: "Total ($)" %>
  </div>
  <br/>
  <div id="piechart">
    <table class="table-layout">
      <thead>
        <tr>
          <th><h3>Spending Categories</h3></th>
          <th><h3>Current Balance</h3></th>
        </tr>
      </thead>
      <tbody>
        <tr class="charts">
          <td><%= pie_chart @spendingTypes, width: "500px", height: "400px", 
                  library: {backgroundColor: "#f2efed"} %></td>
          <td>
              <%= column_chart @balanceSummary.each {|balance| { data: balance[0][1] } },
                  width: "500px", height: "400px", library: {backgroundColor: "#f2efed"}, 
                  xtitle: "Bank", ytitle: "Current Balance ($)" %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
