<div id="side-menu">
  <%= link_to "My Profile", edit_user_registration_path, :class => :links %><br />
  <%= link_to "Summary", summaries_path, :class => :links %><br />
  <%= link_to "Accounts Detail", accounts_path, :class => :links %><br />
  <%= link_to "Exchange Rates", exchange_rates_path, :class => :links %><br />
  <%= link_to "Statistics", statistics_path, :class => :links %>
  <br />
  <br />
  <%= link_to "Log out", destroy_user_session_path, method: :delete, :class => :links %>
</div>

<div class="accounts">
  <h1>Statistics</h1>

  <br/>

  <div id="spending-type-pie">
    <%= pie_chart@spendingTypes, width: "100%", height: "500px", donut: true %>
  </div>

  <br/>
  <!--Able to create bar, line, and pie charts just by replacing .bar into right type name-->
  <%= image_tag(Gchart.line :size => '600x400', 
                            :stacked => false,
                            :title => 'Monthly Spending',
                            :data => @mTotals,
                            :axis_with_labels => [['x'],['y']],
                            :axis_range => [nil, [@min,@max,100]],
                            :axis_labels => [["Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec"]]
                           ) %>

  <div id="test-remove-later">
  <br>
    <% @mTotals.each do |mt| %>
      <%= mt %>
      <br>
    <% end %>
  </div>
      
</div>
