<div id="forgot-password">
  <div class="title-bar">
    <h2>Forgot your password?</h2>
  </div>

  <br />

  <div class="sign-info">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div id="actions">
        <p>Click to send reset password instructions.</p>
        <%= f.submit "Send", :class => "submit-btn" %>
      </div>
    <% end %>
    
    <h5>or</h5><br />
    
    <div class="not-memeber">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
