<div id="side-menu">
  <%= link_to "My Profile", edit_user_registration_path, :class => :links %><br />
  <%= link_to "Summary", summaries_path, :class => :links %><br />
  <%= link_to "Accounts Detail", accounts_path, :class => :links %><br />
  <%= link_to "Exchange Rates", summaries_path, :class => :links %><br />
  <%= link_to "Analysis", summaries_path, :class => :links %>
  <br />
  <br />
  <%= link_to "Log out", destroy_user_session_path, method: :delete, :class => :links %>
</div>

<div class="accounts">
  <h1>Account Detail</h1>

  </br>

  <table>
    <thead>
      <tr>
        <th>Financial Institution</th>
        <th>Account Number (Last 4-digits)</th>
        <th>Current Balance</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @accounts.each do |account| %>
        <% if account.user == current_user %> <!--Current user can see only his/her own list-->
          <tr>
            <td><%= link_to account.name, account, :class => :links %></td>
            <td><%= account.accountNumber %></td>
            <td><%= account.balance.to_money %></td>
            <td><%= link_to 'Edit', edit_account_path(account), :class => :links %></td>
            <td><%= link_to 'Remove', account, method: :delete, data: { confirm: 'Are you sure?' }, :class => :links %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  
  </br>

  <%= link_to 'Add Account', new_account_path, :class => :links %>
</div>
