<!--app/view/accounts/index.html.erb-->

<div id="side-menu">
  <div class="menu">
    <%= link_to "My Profile", edit_user_registration_path, :class => :links %><br />
  </div>
  <div class="menu">
    <%= link_to "Summary", summaries_path, :class => :links %><br />
  </div>
  <div class="menu">
    <%= link_to "Accounts Detail", accounts_path, :class => :links %><br />
  </div>
  <div class="menu">
    <%= link_to "Exchange Rates", exchange_rates_path, :class => :links %><br />
  </div>
  <div class="menu">
    <%= link_to "Statistics", statistics_path, :class => :links %>
  </div>
  <br />
  <br />
  <div class="menu">
    <%= link_to "Log out", destroy_user_session_path, method: :delete, :class => :links %>
  </div>
  <div id="dev-info">
    <p>Computer Information Systems</p>
    <p>Senior Project</p>
    <p>Terrence Lim</p>
  </div>
</div>

<div class="accounts">
  <div class="page-name">
    <h1>Account Detail</h1>
  </div>

  </br>

  <table class="table-layout">
    <thead>
      <tr>
        <th>Financial Institution</th>
        <th>Acct.# (Last 4-digits)</th>
        <th>Current Balance</th>
        <th id="add", colspan="2">+<%= link_to 'Add Account', new_account_path, :class => :links %></th>
      </tr>
    </thead>

    <tbody>
      <% @accounts.each do |account| %>
        <% if account.user == current_user %> <!--Current user can see only his/her own list-->
          <tr>
            <td id="link-to-acct"><%= link_to account.name, account, :class => :links %></td>
            <td>x-<%= account.accountNumber %></td>
            <td><%= account.balance.to_money.format %></td>
            <td><%= link_to 'Edit', edit_account_path(account), :class => :links %></td>
            <td><%= link_to 'Remove', account, method: :delete, data: { confirm: 'Are you sure?' }, :class => :links %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  
  <div id="quote-area">
    <h1>~ Quote of the Day ~</h1><br/>
    <h1 id="quotes"><%= @quotes[@random.rand(30)].quote %></h1>
  </div>
</div>
