<div id="side-menu">
  <%= link_to "My Profile", edit_user_registration_path, :class => :links %><br />
  <%= link_to "Summary", summaries_path, :class => :links %><br />
  <%= link_to "Accounts Detail", accounts_path, :class => :links %><br />
  <%= link_to "Exchange Rates", summaries_path, :class => :links %><br />
  <%= link_to "Analysis", summaries_path, :class => :links %>
  <br />
  <br />
  <%= link_to "Log out", destroy_user_session_path, method: :delete, :class => :links %>
</div>

<div class="accounts">
  <div id="account-name-section">
    <h1 id="account-name"><%= @account.name %></h1>
  </div>

  <div id="account-info-table">
    <table>
      <thead>
        <tr>
          <th>Account Number</th>
          <th>Current Balance</th>
        </tr>
      </thead>
      <tbody>
        <td><%= @account.accountNumber %></td>
        <td><%= @account.balance %></td>
      </tbody>
    </table>
  </div>
  
  <div id="account-ledger">
    <table id="ledger-table">
      <thead>
        <tr>
          <th style="width:7em">Date</th>
          <th style="width:16em">Content</th>
          <th>Debit / Credit</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <% @account.breakdowns.each do |breakdown| %>
          <tr>
            <td class="ledger-data"><%= breakdown.date %></td>
            <td class="ledger-data"><%= breakdown.content %></td>
            <td class="ledger-data"><%= breakdown.activityType %></td>
            <td class="ledger-data"><%= breakdown.amount %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= render 'breakdowns/form' %>
  
  </br>
</div>
