<div id="side-menu">
  <%= link_to "My Profile", edit_user_registration_path, :class => :links %><br />
  <%= link_to "Summary", summaries_path, :class => :links %><br />
  <%= link_to "Accounts Detail", accounts_path, :class => :links %><br />
  <%= link_to "Exchange Rates", exchange_rates_path, :class => :links %><br />
  <%= link_to "Statistics", statistics_path, :class => :links %>
  <br />
  <br />
  <%= link_to "Log out", destroy_user_session_path, method: :delete, :class => :links %>
</div>

<div class="accounts">
  <div id="account-name-section">
    <h1 id="account-name"><%= @account.name %></h1>
  </div> <!--id="account-name-section"-->

  <div id="account-info-table">
    <table>
      <thead>
        <tr>
          <th>Account Number</th>
          <th>Current Balance</th>
        </tr>
      </thead>
      <tbody>
        <td><%= @account.accountNumber %></td>
        <td><%= @account.balance.to_money.format %></td>
      </tbody>
    </table>
  </div> <!--id="account-info-table"-->
  <br/>
  <%= render 'breakdowns/form' %>
  <br/>
  <div id="tabs">
    <ul>
      <li><a href="#tabs-1">2017</a></li>
      <li><a href="#tabs-2">2018</a></li>
    </ul>


    <div id="tabs-1">
      <div id="accordion">
        <h3>January</h3>
          <div id="january">
            <table id="ledger-table">
              <thead>
                <tr>
                  <th style="width:7em">Date</th>
                  <th style="width:15em">Content</th>
                  <th>Act.Type</th>
                  <th>Spd.Type</th>
                  <th>Amount</th>
                </tr>
              </thead>
              <tbody>
                <% @account.breakdowns.each do |breakdown| %>
                  <% if breakdown.date.to_s.slice(5..6) == "01" %>
                  <tr>
                    <% if breakdown.id %>
                      <td class="ledger-data"><%= breakdown.date %></td>
                      <td class="ledger-data"><%= link_to breakdown.content, edit_breakdown_path(breakdown), :class => :links %></td>
                      <td class="ledger-data"><%= breakdown.activityType %></td>
                      <td class="ledger-data"><%= breakdown.spendingType %></td>
                      <td class="ledger-data"><%= breakdown.amount.to_money.format %></td>
                      <td><%= link_to 'Remove', breakdown, method: :delete, data: { confirm: 'Are you sure?' }, :class => :links %></td>
                    <% end %>
                  </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          </div> <!--id="january"-->

        <h3>February</h3>
          <div id="february">
            <table id="ledger-table">
              <thead>
                <tr>
                  <th style="width:7em">Date</th>
                  <th style="width:15em">Content</th>
                  <th>Act.Type</th>
                  <th>Spd.Type</th>
                  <th>Amount</th>
                </tr>
              </thead>
              <tbody>
                <% @account.breakdowns.each do |breakdown| %>
                  <% if breakdown.date.to_s.slice(5..6) == "02" %>
                  <tr>
                    <% if breakdown.id %>
                  <td class="ledger-data"><%= breakdown.date %></td>
                      <td class="ledger-data"><%= link_to breakdown.content, edit_breakdown_path(breakdown), :class => :links %></td>
                  <td class="ledger-data"><%= breakdown.activityType %></td>
                  <td class="ledger-data"><%= breakdown.spendingType %></td>
                  <td class="ledger-data"><%= breakdown.amount.to_money.format %></td>
                  <td><%= link_to 'Remove', breakdown, method: :delete, data: { confirm: 'Are you sure?' }, :class => :links %></td>
                <% end %>
              </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div> <!--id="february"--> 

      <h3>March</h3>
        <div id="march">
          <table id="ledger-table">
            <thead>
              <tr>
                <th style="width:7em">Date</th>
                <th style="width:15em">Content</th>
                <th>Act.Type</th>
                <th>Spd.Type</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody>
              <% @account.breakdowns.each do |breakdown| %>
                <% if breakdown.date.to_s.slice(5..6) == "03" %>
                <tr>
                  <% if breakdown.id %>
                    <td class="ledger-data"><%= breakdown.date %></td>
                    <td class="ledger-data"><%= breakdown.content %></td>
                    <td class="ledger-data"><%= breakdown.activityType %></td>
                    <td class="ledger-data"><%= breakdown.spendingType %></td>
                    <td class="ledger-data"><%= breakdown.amount.to_money.format %></td>
                    <td><%= link_to 'Edit', edit_breakdown_path(breakdown), :class => :links %></td>
                    <td><%= link_to 'Remove', breakdown, method: :delete, data: { confirm: 'Are you sure?' }, :class => :links %></td>
                  <% end %>
                </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div> <!--id="march"-->

      <h3>April</h3>
        <div id="april">
          <table id="ledger-table">
            <thead>
              <tr>
                <th style="width:7em">Date</th>
                <th style="width:15em">Content</th>
                <th>Act.Type</th>
                <th>Spd.Type</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody>
              <% @account.breakdowns.each do |breakdown| %>
                <% if breakdown.date.to_s.slice(5..6) == "04" %>
                <tr>
                  <% if breakdown.id %>
                    <td class="ledger-data"><%= breakdown.date %></td>
                  <td class="ledger-data"><%= breakdown.content %></td>
                  <td class="ledger-data"><%= breakdown.activityType %></td>
                  <td class="ledger-data"><%= breakdown.spendingType %></td>
                  <td class="ledger-data"><%= breakdown.amount.to_money.format %></td>
                  <td><%= link_to 'Edit', edit_breakdown_path(breakdown), :class => :links %></td>
                  <td><%= link_to 'Remove', breakdown, method: :delete, data: { confirm: 'Are you sure?' }, :class => :links %></td>
                <% end %>
              </tr>
              <% end %>
            <% end %>
            </tbody>
          </table>
        </div> <!--id="april"--> 

      <h3>May</h3>
        <div id="may">
          <table id="ledger-table">
            <thead>
              <tr>
                <th style="width:7em">Date</th>
                <th style="width:15em">Content</th>
                <th>Act.Type</th>
                <th>Spd.Type</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody>
              <% @account.breakdowns.each do |breakdown| %>
                <% if breakdown.date.to_s.slice(5..6) == "05" %>
                <tr>
                  <% if breakdown.id %>
                    <td class="ledger-data"><%= breakdown.date %></td>
                    <td class="ledger-data"><%= breakdown.content %></td>
                    <td class="ledger-data"><%= breakdown.activityType %></td>
                    <td class="ledger-data"><%= breakdown.spendingType %></td>
                    <td class="ledger-data"><%= breakdown.amount.to_money.format %></td>
                    <td><%= link_to 'Edit', edit_breakdown_path(breakdown), :class => :links %></td>
                    <td><%= link_to 'Remove', breakdown, method: :delete, data: { confirm: 'Are you sure?' }, :class => :links %></td>
                  <% end %>
                </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div> <!--id="may"--> 

      <h3>June</h3>
        <div id="june">
          <table id="ledger-table">
            <thead>
              <tr>
                <th style="width:7em">Date</th>
                <th style="width:15em">Content</th>
                <th>Act.Type</th>
                <th>Spd.Type</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody>
              <% @account.breakdowns.each do |breakdown| %>
                <% if breakdown.date.to_s.slice(5..6) == "06" %>
                <tr>
                  <% if breakdown.id %>
                    <td class="ledger-data"><%= breakdown.date %></td>
                  <td class="ledger-data"><%= breakdown.content %></td>
                  <td class="ledger-data"><%= breakdown.activityType %></td>
                  <td class="ledger-data"><%= breakdown.spendingType %></td>
                  <td class="ledger-data"><%= breakdown.amount.to_money.format %></td>
                  <td><%= link_to 'Edit', edit_breakdown_path(breakdown), :class => :links %></td>
                  <td><%= link_to 'Remove', breakdown, method: :delete, data: { confirm: 'Are you sure?' }, :class => :links %></td>
                <% end %>
              </tr>
              <% end %>
            <% end %>
            </tbody>
          </table>
        </div> <!--id="june"--> 

      <h3>July</h3>
        <div id="july">
          <table id="ledger-table">
            <thead>
              <tr>
                <th style="width:7em">Date</th>
                <th style="width:15em">Content</th>
                <th>Act.Type</th>
                <th>Spd.Type</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody>
              <% @account.breakdowns.each do |breakdown| %>
                <% if breakdown.date.to_s.slice(5..6) == "07" %>
                <tr>
                  <% if breakdown.id %>
                    <td class="ledger-data"><%= breakdown.date %></td>
                    <td class="ledger-data"><%= breakdown.content %></td>
                    <td class="ledger-data"><%= breakdown.activityType %></td>
                    <td class="ledger-data"><%= breakdown.spendingType %></td>
                    <td class="ledger-data"><%= breakdown.amount.to_money.format %></td>
                    <td><%= link_to 'Edit', edit_breakdown_path(breakdown), :class => :links %></td>
                    <td><%= link_to 'Remove', breakdown, method: :delete, data: { confirm: 'Are you sure?' }, :class => :links %></td>
                  <% end %>
                </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div> <!--id="july"-->
      
      <h3>August</h3>
        <div id="august">
          <table id="ledger-table">
            <thead>
              <tr>
                <th style="width:7em">Date</th>
                <th style="width:15em">Content</th>
                <th>Act.Type</th>
                <th>Spd.Type</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody>
              <% @account.breakdowns.each do |breakdown| %>
                <% if breakdown.date.to_s.slice(5..6) == "08" %>
                <tr>
                  <% if breakdown.id %>
                    <td class="ledger-data"><%= breakdown.date %></td>
                  <td class="ledger-data"><%= breakdown.content %></td>
                  <td class="ledger-data"><%= breakdown.activityType %></td>
                  <td class="ledger-data"><%= breakdown.spendingType %></td>
                  <td class="ledger-data"><%= breakdown.amount.to_money.format %></td>
                  <td><%= link_to 'Edit', edit_breakdown_path(breakdown), :class => :links %></td>
                  <td><%= link_to 'Remove', breakdown, method: :delete, data: { confirm: 'Are you sure?' }, :class => :links %></td>
                  <% end %>
                </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div> <!--id="august"--> 

      <h3>September</h3>
        <div id="september">
          <table id="ledger-table">
            <thead>
              <tr>
                <th style="width:7em">Date</th>
                <th style="width:15em">Content</th>
                <th>Act.Type</th>
                <th>Spd.Type</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody>
              <% @account.breakdowns.each do |breakdown| %>
                <% if breakdown.date.to_s.slice(5..6) == "09" %>
                <tr>
                  <% if breakdown.id %>
                    <td class="ledger-data"><%= breakdown.date %></td>
                    <td class="ledger-data"><%= breakdown.content %></td>
                    <td class="ledger-data"><%= breakdown.activityType %></td>
                    <td class="ledger-data"><%= breakdown.spendingType %></td>
                    <td class="ledger-data"><%= breakdown.amount.to_money.format %></td>
                    <td><%= link_to 'Edit', edit_breakdown_path(breakdown), :class => :links %></td>
                    <td><%= link_to 'Remove', breakdown, method: :delete, data: { confirm: 'Are you sure?' }, :class => :links %></td>
                  <% end %>
                </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div> <!--id="september"--> 

      <h3>October</h3>
        <div id="october">
          <table id="ledger-table">
            <thead>
              <tr>
                <th style="width:7em">Date</th>
                <th style="width:15em">Content</th>
                <th>Act.Type</th>
                <th>Spd.Type</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody>
              <% @account.breakdowns.each do |breakdown| %>
                <% if breakdown.date.to_s.slice(5..6) == "10" %>
                <tr>
                  <% if breakdown.id %>
                    <td class="ledger-data"><%= breakdown.date %></td>
                  <td class="ledger-data"><%= breakdown.content %></td>
                  <td class="ledger-data"><%= breakdown.activityType %></td>
                  <td class="ledger-data"><%= breakdown.spendingType %></td>
                  <td class="ledger-data"><%= breakdown.amount.to_money.format %></td>
                  <td><%= link_to 'Edit', edit_breakdown_path(breakdown), :class => :links %></td>
                  <td><%= link_to 'Remove', breakdown, method: :delete, data: { confirm: 'Are you sure?' }, :class => :links %></td>
                  <% end %>
                </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div> <!--id="october"--> 

      <h3>Novermber</h3>
        <div id="november">
          <table id="ledger-table">
            <thead>
              <tr>
                <th style="width:7em">Date</th>
                <th style="width:15em">Content</th>
                <th>Act.Type</th>
                <th>Spd.Type</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody>
              <% @account.breakdowns.each do |breakdown| %>
                <% if breakdown.date.to_s.slice(5..6) == "11" %>
                <tr>
                  <% if breakdown.id %>
                    <td class="ledger-data"><%= breakdown.date %></td>
                    <td class="ledger-data"><%= breakdown.content %></td>
                    <td class="ledger-data"><%= breakdown.activityType %></td>
                    <td class="ledger-data"><%= breakdown.spendingType %></td>
                    <td class="ledger-data"><%= breakdown.amount.to_money.format %></td>
                    <td><%= link_to 'Edit', edit_breakdown_path(breakdown), :class => :links %></td>
                    <td><%= link_to 'Remove', breakdown, method: :delete, data: { confirm: 'Are you sure?' }, :class => :links %></td>
                  <% end %>
                </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div> <!--id="november"-->

      <h3>December</h3>
        <div id="december">
          <table id="ledger-table">
            <thead>
              <tr>
                <th style="width:7em">Date</th>
                <th style="width:15em">Content</th>
                <th>Act.Type</th>
                <th>Spd.Type</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody>
              <% @account.breakdowns.each do |breakdown| %>
                <% if breakdown.date.to_s.slice(5..6) == "12" %>
                <tr>
                  <% if breakdown.id %>
                    <td class="ledger-data"><%= breakdown.date %></td>
                  <td class="ledger-data"><%= breakdown.content %></td>
                  <td class="ledger-data"><%= breakdown.activityType %></td>
                  <td class="ledger-data"><%= breakdown.spendingType %></td>
                  <td class="ledger-data"><%= breakdown.amount.to_money.format %></td>
                  <td><%= link_to 'Edit', edit_breakdown_path(breakdown), :class => :links %></td>
                  <td><%= link_to 'Remove', breakdown, method: :delete, data: { confirm: 'Are you sure?' }, :class => :links %></td>
                  <% end %>
                </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div> <!--id="december"-->
      </div> <!--accordion div-->
    </div> <!--id="tab2-2017"-->
    <div id="tabs-2018">
    </div>
  </div> <!--id="tabs"-->
  <br/>
</div> <!--class="accounts"-->
