<div id="side-menu">
  <%= link_to "My Profile", edit_user_registration_path, :class => :links %><br />
  <%= link_to "Summary", summaries_path, :class => :links %><br />
  <%= link_to "Accounts Detail", accounts_path, :class => :links %><br />
  <%= link_to "Exchange Rates", summaries_path, :class => :links %><br />
  <%= link_to "Analysis", summaries_path, :class => :links %>
  <br />
  <br />
  <%= link_to "Log out", destroy_user_session_path, method: :delete, :class => :links %>
</div>

<div class="accounts">
  <p>
    <strong>Financial Institution:</strong>
    <%= @account.name %>
  </p>

  <p>
    <strong>Account Number:</strong>
    <%= @account.accountNumber %>
  </p>

  <%= render 'breakdowns/form' %>

  <%= link_to 'Edit', edit_account_path(@account) %> |
  <%= link_to 'Back', accounts_path %>
</div>
