<!--app/view/summaries/index.html-->

<div id="side-menu">
  <%= link_to "My Profile", edit_user_registration_path, :class => :links %><br />
  <%= link_to "Summary", summaries_path, :class => :links %><br />
  <%= link_to "Accounts Detail", accounts_path, :class => :links %><br />
  <%= link_to "Exchange Rates", exchange_rates_path, :class => :links %><br />
  <%= link_to "Statistics", statistics_path, :class => :links %>
  <br />
  <br />
  <%= link_to "Log out", destroy_user_session_path, method: :delete, :class => :links %>
</div>

<div class="accounts">
  
  <div id="account-summary">
    <h1>Account List</h1>
    <br/>
    <div id="accordion">
      <% @accounts.each do |account| %>
        <h3><%= account.name + " - " + account.accountNumber %></h3>
          <div>
            <table id="ledger-table">
                <thead>
                  <tr>
                    <th style="width:7em">Date</th>
                    <th style="width:15em">Content</th>
                    <th>Act.Type</th>
                    <th>Spd.Type</th>
                    <th>Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <% account.breakdowns.each do |breakdown| %>
                    <% if breakdown.date.to_s.slice(5..6) == Time.current.to_s.slice(5..6) %>
                    <tr>
                      <% if breakdown.id %>
                        <td class="ledger-data"><%= breakdown.date %></td>
                        <td class="ledger-data"><%= breakdown.content %></td>
                        <td class="ledger-data"><%= breakdown.activityType %></td>
                        <td class="ledger-data"><%= breakdown.spendingType %></td>
                        <td class="ledger-data"><%= breakdown.amount.to_money.format %></td>
                      <% end %>
                    </tr>
                    <% end %>
                  <% end %>
                </tbody>
              </table>
          </div>
      <% end %> <!--@accounts.each-->
    </div> <!--id="accordion"-->
  </div> <!--id="account-summary"-->

  <br/>
  <br/>

  <div id="statistic-summary">
    <h1>Statistic</h1>
    <br/>
    <div id="barchart_for_current_balances" style="width: 520px; height: 400px; float: right;"></div>
    <div id="linechart_for_monthly_spending" style="width: 520px; height: 400px;"></div>
  </div>
    <br/>
</div>
