<!--app/view/summaries/index.html-->

<div id="side-menu">
  <div>
    <%= link_to "My Profile", edit_user_registration_path, :class => :links %><br />
  </div>
  <div>
    <%= link_to "Summary", summaries_path, :class => :links %><br />
  </div>
  <div>
    <%= link_to "Accounts Detail", accounts_path, :class => :links %><br />
  </div>
  <div>
    <%= link_to "Exchange Rates", exchange_rates_path, :class => :links %><br />
  </div>
  <div>
    <%= link_to "Statistics", statistics_path, :class => :links %>
  </div>
  <br />
  <br />
  <div>
    <%= link_to "Log out", destroy_user_session_path, method: :delete, :class => :links %>
  </div>
</div>

<div class="accounts">
  <div class="page-name"> 
    <h1>Account List</h1>
  </div>
  <div id="account-summary">
    <div id="accordion">
      <% @accounts.each do |account| %>
        <h3><%= account.name + " - " + account.accountNumber %></h3>
          <div>
            <table id="ledger-table">
              <thead>
                <tr>
                  <th style="width:7em">Date</th>
                  <th style="width:15em">Content</th>
                  <th>Act.Type</th>
                  <th>Spd.Type</th>
                  <th>Amount</th>
                </tr>
              </thead>
              <tbody>
                <% today = Time.current.to_s %>
                <% @recentActivities = Array.new %>
                <% account.breakdowns.each do |breakdown| %>
                  <% if today.slice(5..6).to_s == breakdown.date.to_s.slice(5..6) %>
                    <% if today.slice(8..9).to_i-4 == breakdown.date.to_s.slice(8..9).to_i ||
                          today.slice(8..9).to_i-3 == breakdown.date.to_s.slice(8..9).to_i ||
                          today.slice(8..9).to_i-2 == breakdown.date.to_s.slice(8..9).to_i ||
                          today.slice(8..9).to_i-1 == breakdown.date.to_s.slice(8..9).to_i ||
                          today.slice(8..9).to_i == breakdown.date.to_s.slice(8..9).to_i %>
                        <% @recentActivities.push(breakdown) %>
                    <% end %>
                  <% end %>
                <% end %>
                <% @recentActivities.each do |recent| %>
                  <tr>
                    <td class="ledger-data"><%= recent.date %></td>
                    <td class="ledger-data"><%= recent.content %></td>
                    <td class="ledger-data"><%= recent.activityType %></td>
                    <td class="ledger-data"><%= recent.spendingType %></td>
                    <td class="ledger-data"><%= recent.amount.to_money.format %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
      <% end %> <!--@accounts.each-->
    </div> <!--id="accordion"-->
  </div> <!--id="account-summary"-->

  <div class="page-name"> 
    <h1>Statistic</h1>
  </div>
  <br/>
  <div id="statistic-summary">
    <table class="table-layout">
      <thead>
        <tr>
          <th>Monthly Spending (Debit)</th>
          <th>Current Balance</th>
        </tr>
      </thead>
      <tbody>
        <tr class="charts">
          <td>
            <%= line_chart @mTotals.each { |mtotal| { data: mtotal[0][1] } }, width: "550px",
                height: "350px", library: {backgroundColor: "#f2efed"}, 
                xtitle: "Month", ytitle: "Total ($)" %>
          </td>
          <td>
            <%= column_chart @balanceSummary.each {|balance| { data: balance[0][1] } },
                width: "450px", height: "350px", library: {backgroundColor: "#f2efed"}, 
                xtitle: "Bank", ytitle: "Current Balance ($)" %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
