<div id="side-menu">
  <%= link_to "My Profile", edit_user_registration_path, :class => :links %><br />
  <%= link_to "Summary", summaries_path, :class => :links %><br />
  <%= link_to "Accounts Detail", accounts_path, :class => :links %><br />
  <%= link_to "Exchange Rates", summaries_path, :class => :links %><br />
  <%= link_to "Analysis", summaries_path, :class => :links %>
  <br />
  <br />
  <%= link_to "Log out", destroy_user_session_path, method: :delete, :class => :links %>
</div>

<h1 class="accounts">Accounts List</h1>

<h1 id="statistic">Statistic</h1>
