<%= form_with(model: [@account, Breakdown.new]) do |form| %>
  <% if @breakdown.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@breakdown.errors.count, "error") %> prohibited this breakdown from being saved:</h2>

      <ul>
      <% @breakdown.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table id="breakdown-input-table">
    <thead>
      <tr>
        <th><%= form.label :date %></th>
        <th><%= form.label :content %></th>
        <th><%= form.label :Type %></th>
        <th><%= form.label :amount %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="ledger-data"><%= form.date_select :date, id: :breakdown_date %></td>
        <td class="ledger-data"><%= form.text_field :content, id: :breakdown_content %></td>
        <td class="ledger-data"><%= form.select :activityType, options_for_select([['DEBIT', 'DEBIT'], ['CREDIT', 'CREDIT']]), id: :breakdown_content %></td>
        <td class="ledger-data"><%= form.text_field :amount, id: :breakdown_amount %></td>
        <td ><%= form.submit 'Add', id: "ledger-add"%></td>
      </tr>
    </tbody>
  </table>
<% end %>
