<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @breakdown.date %>
</p>

<p>
  <strong>Content:</strong>
  <%= @breakdown.content %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @breakdown.amount %>
</p>

<p>
  <strong>Currentbalance:</strong>
  <%= @breakdown.currentBalance %>
</p>

<p>
  <strong>Account:</strong>
  <%= @breakdown.account %>
</p>

<%= link_to 'Edit', edit_breakdown_path(@breakdown) %> |
<%= link_to 'Back', breakdowns_path %>
